work_ws/build/
work_ws/install/
work_ws/log/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
**/__pycache__/
*.py[cod]

*.o
*.so
*.a
*.dylib

.vscode/
**/.vscode/
.history/
*.code-workspace

.DS_Store
Thumbs.db
*.bak

*.json

# PlatformIO
.pio

# Test / lint caches
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
**/.mypy_cache/

# Dependencias
sllidar_ros2/
rf2o_laser_odometry/