<?xml version="1.0"?>
<robot name="salamander_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Lidar joint -->
<joint name="Rigid 11" type="fixed">
  <origin xyz="0.236098 -0.004646 0.000956" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="rplidar_a1m8_1"/>
</joint>

<!-- Lidar frame -->
<link name="rplidar_a1m8_1">
  <inertial>
    <origin xyz="-0.016984302698711456 0.004773780112382523 0.02905054217183256" rpy="0 0 0"/>
    <mass value="0.036021408390687064"/>
    <inertia ixx="1.5e-05" iyy="1.2e-05" izz="2.3e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.236098 0.004646 -0.000956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find salamander_bot)/meshes/rplidar_a1m8_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.236098 0.004646 -0.000956" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find salamander_bot)/meshes/rplidar_a1m8_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>


<gazebo reference="rplidar_a1m8_1">
  <sensor name="lidar" type="lidar">
    <pose>0 0 0 0 0 0</pose>

    <update_rate>10</update_rate>
    <visualize>false</visualize>

    <topic>/sim/scan</topic>

    <lidar>
      <scan>
        <horizontal>
          <samples>360</samples>
          <resolution>1</resolution>
          <min_angle>-3.14</min_angle>
          <max_angle>3.14</max_angle>
        </horizontal>
      </scan>

      <range>
        <min>0.15</min>
        <max>12.0</max>
      </range>
    </lidar>

    <gz_frame_id>rplidar_a1m8_1</gz_frame_id>
    <always_on>true</always_on>

  </sensor>
</gazebo>

</robot>

