<?xml version="1.0" ?>
<robot name="salamander_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find salamander_bot)/description/colors.xacro" />
<xacro:include filename="$(find salamander_bot)/description/lidar.xacro" />
<xacro:include filename="$(find salamander_bot)/description/salamander_bot.ros2control" />
<xacro:include filename="$(find salamander_bot)/description/salamander_bot.gazebo" />

<link name="base_footprint">
</link>

<link name="base_link">
  <inertial>
    <origin xyz="-26.696774e-03 5.87186e-03 79.358812e-03" rpy="0 0 0"/>
    <mass value="4163.756809e-03"/>
    <inertia ixx="0.03356" iyy="0.07829" izz="0.0953" ixy="0.003164" iyz="-0.0008321" ixz="0.007467"/>
  </inertial>

  <visual>
    <origin xyz="16.16414e-03 -4.12017e-03 -39.543971e-03" rpy="0 0 ${pi/2}"/>
    <geometry>
      <mesh filename="package://salamander_bot/meshes/base_link_collision.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="16.16414e-03 -4.12017e-03 -39.543971e-03" rpy="0 0 ${pi/2}"/>
    <geometry>
      <mesh filename="package://salamander_bot/meshes/base_link_collision.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
  
</link>

<link name="wheel_lf_1">
  <inertial>
    <origin xyz="113.15e-03 148.75e-03 40.0e-03" rpy="0 0 0"/>
    <mass value="118.563707e-03"/>
    <inertia ixx="61319.657896e-09" iyy="94850.959272e-09" izz="61319.670145e-09" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
  </collision>
</link>

<link name="wheel_lb_1">
  <inertial>
    <origin xyz="-113.15e-03 148.75e-03 40.0e-03" rpy="0 0 0"/>
    <mass value="118.563707e-03"/>
    <inertia ixx="61319.657896e-09" iyy="94850.959272e-09" izz="61319.670145e-09" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
  </collision>
</link>

<link name="wheel_rf_1">
  <inertial>
    <origin xyz="113.15e-03 -148.75e-03 40.0e-03" rpy="0 0 0"/>
    <mass value="118.563707e-03"/>
    <inertia ixx="61319.657896e-09" iyy="94850.959272e-09" izz="61319.670145e-09" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
  </collision>
</link>

<link name="wheel_rb_1">
  <inertial>
    <origin xyz="-113.15e-03 -148.75e-03 40.0e-03" rpy="0 0 0"/>
    <mass value="118.563707e-03"/>
    <inertia ixx="61319.657896e-09" iyy="94850.959272e-09" izz="61319.670145e-09" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0 0 0.04" rpy="${pi/2} 0 0"/>
    <geometry>
      <cylinder length="0.0375" radius="0.04" />
    </geometry>
  </collision>
</link>

<joint name="base_link_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <origin xyz="0.0 0.0 40.0e-03" rpy="0.0 0.0 0.0"/>
</joint>

<joint name="wheel_lf_1_joint" type="continuous">
  <origin xyz="148.75e-03 113.15e-03 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_lf_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="wheel_lb_1_joint" type="continuous">
  <origin xyz="148.75e-03 -113.15e-03 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_lb_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="wheel_rf_1_joint" type="continuous">
  <origin xyz="-148.75e-03 113.15e-03 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_rf_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="wheel_rb_1_joint" type="continuous">
  <origin xyz="-148.75e-03 -113.15e-03 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_rb_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

</robot>